.menu-ejercicio{
/* display: none; */
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #1d1c1cf7;
  width: 60%;
  height: 600px;
  margin: 50px auto;
}

.ejercicio-texto{
  margin: auto;
  width: 20%;
  border: 2px solid wheat;
}
.menu-cam-videos {
  margin-top: 74px;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.video-sugerencia {
  width: auto;
  height: 170px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.container {
  position: absolute;
  top: 570px;
  left: 770px;
  display: flex;
  gap: 30px;
}

.rating {
  --c:gold;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  padding: 15px 20px;
  border: 3px solid #111;
  gap: 4px;  
  border-radius: 20px;
  background: #353535;
  box-shadow: none
}

.rating:nth-child(1) {
  transform: translateX(-80px);

}

.rating:nth-child(3) {
  transform: translateX(80px);
}


.rating input {
  position:relative;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}

.rating input::before {
  content: '\f005';
  position: absolute;
  font-family: fontAwesome;
  font-size: 20px;
  color: #111;
  transition: .5s;
}

.rating input:hover ~ input::before,
.rating input:hover::before,
.rating input:checked ~ input::before,
.rating input:checked::before {
  color: var(--c);
}



.valoracion-estrellas {
  position: absolute;
  top: 510px;
  left: 705px;
  color: #fff;
  font-size: 16px;  
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-align: center;
}


.pausa-texto {
  position: absolute;
  top: 413px; 
  left: 55px;
  color: #fff;
  font-size: 16px;  
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-align: center;
}


.pausa-textoescrito {
  position: absolute;
  top: 480px; 
  left: 54px;
  color: #fff;
  font-size: 14px;  
  text-align: center;
}


.timer-container{
  position: absolute;
  top:300px;
  right: 0;
  width: 190px;
  height: 40px;
  background: #353535;
  border: 3px solid #111;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:  column;
  border-radius: 20px;
  padding: 20px; 
}

.btn {
  background-color: rgb(255,149,0);
  width: 60px;
  height: 20px;
  border:0;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(227,100,3);
}

.date-display {
  color: white;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma,  sans-serif;
}









