body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('img/solarix.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
  }


  .parrafo {
          color: rgb(255, 255, 255); /* Establece el color del texto */
          font-size: 24px; /* Tamaño del texto */
          position: absolute; 
          top: 410px; 
          left: -34%;
          text-align: center;
          font-family: 'Roboto Condensed', sans-serif;
          width: 100%; /* Para centrar el texto */
      }
  
    .fecha-sistemainicio{
        width: 500px;
        height: 500px;
        position: absolute;
        top: 120px; 
        left: 830px;
    }
    #fecha-sistema-h2 {
        color: rgb(255, 255, 255); /* Establece el color del texto */
        font-size:33px; /* Tamaño del texto */
        position: absolute; 
        text-align: center;
        top: 390px; 
        left: 132px;
        font-family: 'Roboto Condensed', sans-serif;

    }
    .fecha-sistemainicio img {
        width: 500px; /* Ajusta el tamaño de la imagen según sea necesario */
        height: 410px; /* Ajusta el tamaño de la imagen según sea necesario */
    }

  .login-container {
    width: 300px; 
    height: 210px; 
    padding: 30px;
    border-radius: px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: absolute; 
    top: 400px; 
    left: 78px; 
    
  }

  input [type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 4px;
  }
  button {
    padding: 10px;
    background-color: #0394ae;
    color: white;
    border: none;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 4px;
    cursor: pointer;
  }
  button:hover {
    background-color: #45a049;
  }
