/*Menú desplegable*/
.menu-desplegable{
  display: none;
  width: 380px;
  height: 400px;
  background-color: #1d1c1cf7;
  border-radius: 0% 0% 30% 0%;
  position: absolute;
  bottom: 55px;
  left: 20px;
}

.seccion-superior{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seccion-superior div{
 width:50%;
 height: 100%;
}

.seccion-superior{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seccion-superior-usuario{
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 3px solid #3c96d7;
  border-bottom: 3px solid #3c96d7;
}

.seccion-superior-usuario img{
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.seccion-superior-iconos{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #3c96d7;
}


/*Barra de Busqueda*/
.seccion-navegacion{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  margin-top: 10px;
}

.seccion-navegacion img{
  width: 20px;
  height: 20px;
  position: absolute;
  left: 10px;
}

.seccion-navegacion input{
  border: none;
  outline: none;
  width: 100%;
  padding: 5px;
}

.seccion-inferior{
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Lista de Aplicaciones*/
.seccion-aplicaciones-contenedor{
  margin-bottom: 10px;
  width: 60%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.897);
  margin-top: 10px; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.seccion-aplicaciones-img{
  width: 25px;
  height: 25px;
}
.seccion-aplicaciones-texto {
  margin-top: 10px;
  display: block;
}
.seccion-aplicaciones-texto h4 {
  display: block;
  margin: 0;
  text-align: start;
 }
 .seccion-aplicaciones-texto p {
  display: block;
  margin-top: 2px;
  color: rgb(0, 0, 0);
 
 }

.seccion-aplicaciones{
  color: #000;
  font-size: 12px;
  margin-top: 5px;
  gap: 10px;
  height: 40px;
  width: 70%;
  display: flex;
  align-items: center;
}

/*Lista de Favoritos*/
.seccion-favoritos{
  width: 40%;
  height: 100%;
}

.seccion-favoritos img{
  width: 100%;
  height: 100%;
  border-radius: 0% 0% 30% 0%;
}
/*Menu apagar*/
.menu-apagar{
  position: absolute;
  right: 0;
  bottom: 55px;
  width: 200px;
  height: 100px;
  background-color: #1d1c1cf7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  display: none;
}

.btn-menu-apagar{
  text-align: center;
  color: #FFF;
  background-color: transparent;
  border: none;
  margin-top: 5px;
  text-align: center;
  width: 100%;
  padding: 5px;
}

.btn-menu-apagar:hover{
  background-color: rgba(99, 96, 96, 0.904);
}

.menu-cam-timer{
  padding: 10px;
  position: absolute;
  width: 600px;
  height: 450px;
  background-color: #1d1c1cf7;
  top: 20%;
  left: 32%;
  border-radius:30px ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img-cam{
  position: absolute;
  width: 60px;
  height: 60px;
  border: 5px solid rgb(52, 52, 52);
  border-radius:50px ;
  top:4px;
  left: 4px;
}

.menu-cam-contenedores{
  width: 50%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 10px;
}

.menu-cam-contenedores img{
  width: 20px;
  height: 20px;
}

.menu-cam-contenedores h5{
  margin-right: 20px;
  text-transform: uppercase;
}

.menu-cam-sugerencia{
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100px;
}

.menu-cam-sugerencia img{
  width: 40px;
  height: 40px;
}