@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
}

body {
  background-image: url("img/fondo1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #FFF;
  font-family: "Roboto", system-ui;
  font-weight: 100;
}

.barra-tareas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: #292727ef;
  text-align: center;
  padding: 10px; /* Espacio interno */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3); 
}

.barra-iconos {
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  height: 60vh;
  max-height: 350px;
  width: 70px; /* ancho de la barra */
  background-color: #292727ef;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  border-radius: 10px 0 0 10px; 
}
/*BOTONES*/
.btn-barra-iconos{
  width: 40px;
  height:40px;
  background-color: transparent;
  border: none;
  margin-top: 25px;
  text-align: center;
}

.btn-barra-iconos:hover{
  background-color: rgba(227, 217, 217, 0.904);
}

/*LOGO SOLARIX*/
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  margin-bottom: 20px;
}

#btn-logo{
  width: 100%;
  height: 40px;
  background-image: url("img/logo.jpg");
  background-size: cover;
  margin-top: 25px;
  text-align: center;
  background-color: transparent;
  border: none;
}

#btn-logo:hover{
  background-color: rgba(227, 217, 217, 0.904);
}

/*Logos barra de tareas*/
.logos-sistema {
  flex-direction: row;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 200px;
  height: 40px;
}

.btn-logos-sistema{
  text-align: center;
  margin-right: 10px;
  width: 20px;
  height:20px;
  background-color: transparent;
  border: none;
  margin-top: 25px;
  text-align: center;
}

.btn-logos-sistema:hover{
  background-color: rgba(227, 217, 217, 0.904);
}

#btn-cam {
  background-image: url("img/cam.jpg");
  color: #FFF;
  background-size: cover;
}

#btn-wifi {
  background-image: url("img/wifi.jpg");
  color: #FFF;
  background-size: cover;
}

#btn-bateria {
  background-image: url("img/bateria.jpg");
  color: #FFF;
  background-size: cover;
}

#btn-speaker {
  background-image: url("img/speaker.jpg");
  color: #FFF;
  background-size: cover;
}


#btn-bateria {
  background-image: url("img/bateria.jpg");
  color: #FFF;
  background-size: cover;
}

#btn-power {
  background-image: url("img/power.jpg");
  color: #FFF;
  background-size: cover;
}

/*LOGOS DE LA BARRA ICONOS*/

#btn-chrome {
  background-image: url("img/chrome.jpg");
  background-size: cover;
}

#btn-block {
  background-image: url("img/block.jpg");
  background-size: contain;
}

#btn-calculadora {
  background-image: url("img/calculadora.jpg");
  background-size: cover;
}

#btn-terminal {
  background-image: url("img/terminal.jpg");
  background-size: cover;
}

#btn-archivos {
  background-image: url("img/archivos.jpg");
  background-size: cover;
}

<<<<<<< HEAD
=======
/*Menú desplegable*/

.menu-desplegable{
  display: none;
  width: 380px;
  height: 400px;
  background-color: #1d1c1cf7;
  border-radius: 0% 0% 30% 0%;
  position: absolute;
  bottom: 55px;
  left: 20px;
}

.seccion-superior{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seccion-superior div{
 width:50%;
 height: 100%;
}

.seccion-superior{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seccion-superior-usuario{
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 3px solid #3c96d7;
  border-bottom: 3px solid #3c96d7;
}

.seccion-superior-usuario img{
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.seccion-superior-iconos{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #3c96d7;
}


/*Barra de Busqueda*/
.seccion-navegacion{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  margin-top: 10px;
}

.seccion-navegacion img{
  width: 20px;
  height: 20px;
  position: absolute;
  left: 10px;
}

.login-container {
  width: 200px; 
  height: 200px; 
  padding: 30px;
  border-radius: px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: absolute; 
  top: 350px; 
  left: 78px; 

}

.seccion-navegacion input{
  border: none;
  outline: none;
  width: 100%;
  padding: 5px;
}

.seccion-inferior{
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Lista de Aplicaciones*/
.seccion-aplicaciones-contenedor{
  margin-bottom: 10px;
  width: 60%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.897);
  margin-top: 10px; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.seccion-aplicaciones-img{
  width: 25px;
  height: 25px;
}
.seccion-aplicaciones-texto {
  margin-top: 10px;
  display: block;
}
.seccion-aplicaciones-texto h4 {
  display: block;
  margin: 0;
  text-align: start;
 }
 .seccion-aplicaciones-texto p {
  display: block;
  margin-top: 2px;
  color: rgb(0, 0, 0);
 
 }

.seccion-aplicaciones{
  color: #000;
  font-size: 12px;
  margin-top: 5px;
  gap: 10px;
  height: 40px;
  width: 70%;
  display: flex;
  align-items: center;
}

/*Lista de Favoritos*/
.seccion-favoritos{
  width: 40%;
  height: 100%;
}

.seccion-favoritos img{
  width: 100%;
  height: 100%;
  border-radius: 0% 0% 30% 0%;
}

.menu-apagar{
  position: absolute;
  right: 0;
  bottom: 55px;
  width: 200px;
  height: 100px;
  background-color: #1d1c1cf7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  display: none;
}

.btn-menu-apagar{
  text-align: center;
  color: #FFF;
  background-color: transparent;
  border: none;
  margin-top: 5px;
  text-align: center;
  width: 100%;
  padding: 5px;
}

.btn-menu-apagar:hover{
  background-color: rgba(99, 96, 96, 0.904);
}
>>>>>>> dc61df7e52e8d9c53ed2f5a9e5a18785069917c9
